body {
  color: #fff;
  font-family: Roboto, sans-serif;

  max-width: 540px;
  margin: 0 auto;
}

.signavio-color {
  color: #ad0f5b !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex {
  padding: 1rem;
  margin: 0.5rem;
  flex: 1;
  flex-basis: 100%;
}

.flex2 {
  flex: 1;
  flex-basis: 100%;
}
