html {
  height: 100%;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;

  height: 100%;
  max-width: 540px;
  margin: 0 auto;
}

#root {
  height: 100%;
}

.signavio-color {
  color: #ad0f5b !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex {
  padding: 0.4rem;
  margin: 0.4rem;
  flex: 1;
  flex-basis: 100%;
}

.flex2 {
  flex: 1;
  flex-basis: 100%;
}
