.register-page {
  text-align: center;
}

.register-signup {
  display: block;
  margin: 0 auto 20px auto;
}

.register-input {
  border: 1px solid black;
  margin-right: 2px;
}

.register-button {
  border: 1px solid black;
}
