.register-page {
  text-align: center;
}

.register-card {
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
}

.register-logo {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 50px;
  margin-bottom: 60px;
  margin-top: 0px;
  background: linear-gradient(
    to bottom right,
    #3f0446,
    #d20075,
    rgb(24, 177, 175)
  );
  padding: 80px 0;
  color: white;
}

.register-description {
  margin-bottom: 20px;
  font-weight: 300;
}

.register-input {
  width: 45% !important;
}

.register-signup {
  display: block;
  margin: 0 auto 20px auto;
}

.register-signavio {
  color: rgba(0, 0, 0, 0.3);
}
