img {
  width: 100%;
  margin-bottom: 15%;
}

.register-wrapper {
  text-align: center;
}

input {
  text-align: center;
}

.tutorial-link {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.6);
}
