sudo: required

addons:
  apt:
    packages:
      - docker-ce

services:
  - docker

env:
  global:
    # heroku API key
    secure: ab166ZiqNnEfVsUh81xU7h9GDcuEihTwrJZNR/8ZQA1dm/rG1sVrpxKPvd5o/qBVC2gsuO187X4uuZxPzG445P4AA8yrXif+QuIDe4VCLaKDTayKAERqt9VglHY1zlQC5IGRKzFYhrHVpRRk+o1Xb9uJnHz0bc+hJT+Rc5dH5F5qej2iJrDFTV+aDFfon01+93mU2qcgQiVYlXVg10cpgpHCquq3nQ7tz5bEZ8pQtnH114Ai141uADW1oNlrIWbTp+ZdOr5EsGhGKitN6Nfn38bRO4s3wqSDkwDUO+JSvlKN9WOVCGM2hCN2TjY21vWrxe0CrvTWU6+x5KwOojcwYxFDX50iWIooM70XFEKZRROE4kA5wmIqnmvLba4W9to2jtYA4wk6pt3uHQHQyL4S7A4pYmMuqw2cLZC23DbR6BLN7gTfWyRoQbUVlREVBnbHrguT4n4Z8FaFQoGWgwQxgpxlgeQ0dZaVqDq/CCl4iGMhIqxFJ/2iKE8HEpRHPbjpCQ0pjXLGm2MKYTe8N8nm4XyCWipLAJ+MY2rV2UsZ6ewTR7skSmcgQ8lF1GMaDkR7V/ToPXyLDUOgKBtb+Q4nUfFr3UF9wP6G5umXsnOU4uVgAOUHcZUHggqbApzbUR5/zJQLmkWaOl02fWkaIdUSadjuj4Crk/TVPh1hYl2J5Lo=

script:
  - ./tools/docker-build.sh

branches:
  only:
  - master